body { background: teal; color:#fff; text-align: center; display: flex; align-items:center; justify-content-center; font-family: verdana;  }
h1 { font-size: 3rem; text-transform: uppercase; font-weight: 700; }
p { font-size: 2rm; }
